.about-sedona {
  margin: 0;
  padding: 33px 18px 32px 18px;

  @media (min-width: @tablet-width) {
    padding: 48px 124px 55px 124px;
  }
}

.about-sedona__title {
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.about-sedona__description {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.about-sedona__description br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
