.advantages-list__item--primary {
  background-color: @main-color;
  color: @white-text-color;
  margin: 0;
  padding: 37px 18px 37px 18px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list__item--secondary {
  padding: 24px 26px;
  background-color: #eeeeee;
  text-align: center;
}


.advantages-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.advantages-list__description {
  margin: 0;
  text-transform: uppercase;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-list__item--house {
  padding: 23px 18px 25px 65px;
  background-image: url("/img/advantages/advatages-house.svg");
  background-repeat: no-repeat;
}

.advantages-list__item--food {
  padding: 23px 18px 25px 65px;
  background-image: url("/img/advantages/advantages-food.svg");
  background-repeat: no-repeat;
}

.advantages-list__item--gifts {
  padding: 23px 18px 25px 65px;
  background-image: url("/img/advantages/advantages-gifts.svg");
  background-repeat: no-repeat;
}
