.advantages-list__item--primary {
  background-color: @blue-color;
  color: @white-text-color;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list__item--secondary {
  padding: 24px 26px;
  background-color: #eeeeee;
  text-align: center;
}


.advantages-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list__description {
  text-transform: uppercase;
}

.advantages-list {
  list-style: none;
}
