.feedback-forms {
  @media (min-width: @tablet-width) {
    padding: 108px 60px 117px 64px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    padding: 157px 370px 120px 370px;
  }
}

.feedback-forms__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.feedback-forms__title {
  margin: 24px 0 0 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
