.inner-nav {
  min-height: 56px;
  margin: 0;
}

.inner-nav__list {
  min-height: 223px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.inner-header__menu {
  height: 56px;
}

.inner-header__logo {
  padding: 0 68px;
}

.logo {
  position: absolute;
}
