.inner-welcome__logo {
  display: block;
  margin: 0 auto;
}

.inner-welcome {
  padding: 52px 40px 67px 40px;
  margin: 0;
  width: 320px;
  background-image: url("/img/welcome/welcome-triangle.svg"), url("/img/welcome/welcome-background.jpg");
  background-size: 100% cover;
  background-repeat: no-repeat;
  background-color: @main-color;
  background-position: bottom center, top center;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding: 95px 154px 117px 154px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 157px 370px 120px 370px;
  }
}
