.main-footer {
  width: 320px;
  min-height: 235px;
  padding: 33px 82px  33px 82px;
}

.main-footer__hashtag-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.social-list {
  list-style: none;
}

.social-list__item {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.social-list__link {
  padding: 12px;
}

.copyright__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}
