.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 33px 82px  33px 82px;

  @media (min-width: @tablet-width) {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 60px  35px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 37px 120px  37px 120px;
  }
}

.main-footer__hashtag-link {
  display: block;
  margin: 8px 0 30px 10px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin: 13px 0 13px 0;
  }
}
