.modal-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @card-transparent-color;

  &--close {
    display: none;
  }
}

.modal-container__failure {
  width: @mobile-width;
  margin: 116px auto 0;
  background-color: @button-color-text;

  @media (min-width: @tablet-width) {
    width: 400px;
    margin-top: 283px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 244px;
  }
}

.modal-container__successfully {
  width: @mobile-width;
  background-color: @button-color-text;
  margin: 402px auto 0;

  @media (min-width: @tablet-width) {
    width: 640px;
    margin-top: 162px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 145px;
  }
}

.modal-container__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 25px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding: 0 28px;
  }
}

.modal-container__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 0 0;

  &--successfully {
    @media (min-width: @tablet-width) {
      padding: 0 50px;
      font-size: 15px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 18px;
    }
  }
}

.modal-container__content {
  padding: 45px 42px 28px;

  @media (min-width: @tablet-width) {
    padding: 47px 47px 47px;
  }

  &--successfully {
    padding: 37px 58px 50px;

    @media (min-width: @tablet-width) {
      padding: 45px 45px 52px;
    }

    @media (min-width: @desktop-width) {
      padding: 41px 98px 53px;
    }
  }
}

.modal-container__button {
  margin: 0 auto 35px;
  padding: 18px 18px 14px;
  background-color: @main-color;
  color: @button-color-text;
  text-transform: uppercase;
  border: none;
  display: block;
  font-family: @primary-fonts;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
  }

  &--failure {
    width: 180px;

    @media (min-width: @tablet-width) {
      width: 272px;
    }
  }

  &--successfully {
    width: 280px;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 458px;
      font-size: 21px;
    }
  }
}

.modal-container__wrapper {
  width: @mobile-width;
  padding: 20px;
  background-color: @input-color;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding: 44px;
  }
}
