.more-interesting {
  padding: 17px 20px 0 20px;
  margin: 0;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.more-interesting__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
}

.more-interesting__discription {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
}
