.more-interesting {
  position: relative;
  padding: 15px 20px 0 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 49px 60px 40px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 200px 84px 200px;
  }
}

.more-interesting__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0 0 25px 0;
  padding: 0 0 0 0;

  @media (min-width: @tablet-width) {
    margin: 6px 0 35px;
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 32px 0;
    font-size: 30px;
  }
}

.more-interesting__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 100px 0 100px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 154px 0 154px;
  }
}

.more-interesting__discription {
  font-family: @primary-fonts;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0 0 39px 0;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 0 86px 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 84px 0;
    font-size: 14px;
    line-height: 21px;
  }
}

.more-interesting__discription br {
  @media (max-width: 766px) {
    display: none;
  }
}

.more-interesting__preview {
  @media (min-width: @tablet-width) {
    width: 100%;
    height: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    height: 100%;
  }
}

.more-interesing--play {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  border: none;
  right: 130px;
  bottom: 63px;

  @media (min-width: @tablet-width) {
    right: 353px;
    bottom: 263px;
  }

  @media (min-width: @desktop-width) {
    right: 570px;
    bottom: 307px;
  }
}
