.search-hotel {
  width: 320px;
  min-height: 300px;
  padding: 38px 18px 49px 18px;
}

.search-hotel__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.search-hotel__description {
  text-transform: uppercase;
  text-align: center;
}

.search-hotel__link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px 49px;
}
