.site-list__link {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding: 17px 81px;
  background-color: @main-color;
  text-align: center;
  text-transform: uppercase;
}
