.visited {
  border-bottom: 1px solid @border-bottom-color;
  margin: 0;
  padding: 24px 20px 13px 20px;

  @media (min-width: @tablet-width) {
    padding: 24px 68px 14px 68px;
  }

  @media (min-width: @desktop-width) {
    padding: 24px 13px 54px 13px;
  }
}

.visited__title {
  margin: 0 0 14px 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: @title-color;

  @media (min-width: @tablet-width) {
    padding: 0 79px;
    margin: 0 0 24px 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    padding: 0 260px;
    margin: 0 0 60px 0;
  }
}

.visited__fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
}

.visited__check-input:not(:last-child) {
  margin: 0  0 16px 0;
}

.visited__control-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 16px;
}

.visited__check-label {
  position: relative;
  display: block;
  padding: 16px 0 20px 46px;

  @media (min-width: @tablet-width) {
    padding: 16px 0 20px 46px;
  }

  &:hover {
    .visited__checkbox-mark {
      background-color: @disabled-button-color;
    }
  }

  &:active {
    .visited__checkbox-mark {
      background-color: @custom-radio-color2;
    }
  }
}

.visited__checkbox-mark {
  background-color: @input-color;
  width: 46px;
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  border-radius: 4px;
  margin-bottom: 3px;

  &::before {
    content: "";
    background-image: url("/img/inner/tick.svg.svg");
    background-repeat: no-repeat;
    top: 15px;
    left: 12px;
    position: absolute;
    display: none;
    width: 22px;
    height: 16px;
  }
}

.visited__check-label input:checked + .visited__checkbox-mark::before {
  display: block;
}

.visited__check-label input[type="checkbox"]:focus + .visited__checkbox-mark {
  outline: auto;
}

.visited__check-label:nth-child(2) {
  @media (max-width: @mobile-width) {
    margin-right: 18px;
  }

  @media (min-width: @tablet-width) {
    margin: 5px 70px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: -3px 0 0 19px;
  }
}

.visited__check-label:nth-child(1) {
  @media (min-width: @tablet-width) {
    margin: 5px 0 0 16px;
  }

  @media (min-width: @desktop-width) {
    margin: -3px 0 0 31px;
  }
}

.visited__check-label:nth-child(3) {
  @media (min-width: @tablet-width) {
    margin-left: 16px;
  }

  @media (min-width: @desktop-width) {
    margin: -3px 0 0 21px;
  }
}

.visited__check-label:nth-child(4) {
  @media (min-width: @tablet-width) {
    margin-right: 57px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 32px 12px 21px;
    padding: 10px 0 20px 46px;
  }
}

