.welcome-sedona__logo {
  display: block;
  margin: 0 auto;
}

.welcome-sedona {
  box-sizing: border-box;
  background-image: url("/img/welcome/welcome-triangle.svg"), url("/img/welcome/welcome-background.jpg");
  background-color: #81b3d2;
  background-size: 100% cover;
  background-repeat: no-repeat;
  background-position: bottom center, top center;
  min-height: 389px;
  width: 320px;
  margin: 0;
  padding: 90px 19px 85px 19px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding: 95px 154px 117px 154px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 157px 370px 120px 370px;
  }
}
