.welcome-sedona {
  background-image: url("/img/welcome/welcome-triangle.svg"), url("/img/welcome/welcome-background.jpg");
  background-color: #81b3d2;
  background-size: 100% cover;
  background-repeat: no-repeat;
  background-position: bottom center, top center;
  min-height: 389px;
  width: 320px;
  padding: 0;
  margin: 0;
}
