.welcome-sedona {
  background-image: url("/img/welcome/welcome-triangle.svg"), url("/img/welcome/welcome-background.jpg");
  background-color: #81b3d2;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom center, top center;
  min-height: 389px;
  min-width: 320px;
  padding: 90px 19px 85px 19px;
}

